*{
    margin: 0;
    padding: 0;
}
.contenedor #boton::after{
    width: 100px;
    height: 80px;
    content: "Pasa por encima";
}


#boton:hover{
    color: white;
    background-color: greenyellow;
}
#boton::after{
    content: '¡Hecho!'!important; 
}